// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {

  .formulario {
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
    padding: 10px;
    background: #DADADA;
    border-radius: 15px;
  }
  .table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: middle;
  }

  table {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
  }

  th {
    font-weight: bold;
    font-size: larger;
    padding: 5px;
    background: #006699;
    color: #FFFFFF;
    border-radius: 8px 8px 0px 0px;
  }
   h1 {
     border-radius: 15px;
     background: #006699;
     color: #FFFFFF;
     height: 40px;
     padding-top: 15px;
     text-align: center;
   }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color: #244;
      font-weight: bold;
      font-size: large;
    }
    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size: x-small;
    text-align: right;
    padding-left: 1em;
  }

  .list_line_even {
    background: #DADADA;
  }

  .list_line_odd {
    background: #EEEEEE;
  }
}
